body {

}

h1, h2 {
	text-align: center;
	text-decoration: underline;
	font-variant: small-caps;
}
h2 { margin-top: 0; }

canvas {
	display: block;
	float: left;

	
	border-right: 2px solid black;
}

#content {
	width: 768px;
	margin: 0 auto;

	border: 2px solid black;

	background: url('./images/stars.png') no-repeat;
}

#controls {
	float: right;
	width: 244px;
	margin-right: 6px;
}

.clear {
	clear: both;
}